* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  padding: 80px 15px;
  background-image: url('images/bg-pattern-top-mobile.svg'),url('images/bg-pattern-bottom-mobile.svg');
  background-repeat: no-repeat;
  background-position: top left,bottom right;
  font-family: "Spartan";
}
#container {
  text-align: center;
 /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);*/
}
p {
  font-size: 15px;
  line-height: 22px;
}
h1 {
  color: hsl(300, 43%, 22%);
  width: 90%;
  margin: 0 auto 20px;
}
.intro p {
  color: hsl(303, 10%, 53%);
}
.rating  {
  width: 90%;
  padding: 20px 50px;
 display: flex;
  margin: 15px auto;
  background-color:hsl(300, 24%, 96%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.ratings {
  margin: 50px 0;
}
.rating h5 {
  color: hsl(300, 43%, 22%);;
}
.review {
  width: 90%;
  height: 250px;
  background-color: hsl(300, 43%, 22%);
  color: white;
  margin: 15px auto;
  padding: 30px;
  border-radius: 5px;
  text-align: left;
}
.review img {
  width: 40px;
  border-radius: 50%;
}
.profile {
  display: flex;
  margin-bottom: 25px;
}
.name {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  margin-left: 15px;
}
.review p {
  opacity: 70%;
}
.review h6 {
  color: hsl(333, 80%, 67%);
}
@media (min-width:900px) {
  body {
    width: 100vw;
    padding: 100px;
    height: 100vh;
    background-image: url('images/bg-pattern-top-desktop.svg'),url('images/bg-pattern-bottom-desktop.svg');
  background-repeat: no-repeat;
  background-position: top left,bottom right;
  background-size: 50% 50%;
  }
  #container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .intro {
    padding: 10px 50px ;
    text-align: left;
  }
  h1 {
    margin: 0 0 20px;
  }
  .reviews {
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-column: 1/3;
  }
  .review {
    margin: 15px;
    width: 350px;
    height: auto;
  }
  .review:nth-child(2){
    position: relative;
    top:30px ;
  }
  .review:nth-child(3){
    position: relative;
    top: 60px;
  }
  .ratings {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
  }
  .rating {
    flex-direction: row;
    width: 440px;
    height: 50px;
    margin: 15px;
  }
  .stars {
    margin-right: 15px;
  }
  .rating:nth-child(2) {
    position: relative;
    left: 40px;
  }
  
  .rating:nth-child(3) {
    position: relative;
    left: 80px;
  }
}